.container-footer {
    height: 100px;
    width: 100%;
    margin-top: 3rem;

    background-image: radial-gradient(#ffaa00 2px, transparent 2px);
    background-size: 10px 10px;
    background-color: #ffc859;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: -3px -3px 0px 0px rgba(255, 139, 6, 1);
}
.container-footer a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}