.container-info {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-container-info {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #f8a203;
    border-radius: 2px 2px 2px 2px;
    margin: 2rem;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    position: relative;
}
.icon-info{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
}
.top-container-head-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.top-container-head-left-info {
    width: 50%;
}
.top-container-head-left-info img{
    max-width: 100%;
    border-right: 3px solid rgb(228, 127, 11);
}
.top-container-head-right-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.top-container-head-right-title-info {
    height: 50%;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 70px;
    font-weight: 500;
}
.top-container-head-right-body-info {
    font-size: 25px;
    font-weight: 600;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    font-family: 'Open Sans';
}

/* bottom part */

.bot-container-info{
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #f8a203;
    border-radius: 2px 2px 2px 2px;
    margin: 2rem;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    position: relative;
    gap: 2rem;
}
.bot-container-left-info{
    width: 50%;
}
.bot-container-right-info{
    width: 50%;
}
.bot-container-left-list-info{
    display: flex;
    flex-direction: column;
}
.bot-container-left-list-items-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(41, 41, 41);
}
.bot-container-left-list-items-info img{
    max-height: 100%;
    max-width: 100%;
}
.bot-list-img-info{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot-list-amount-info{
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 600;
    padding-left: 10px;
}
.bot-list-name-info{
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 600;
}