.container-results {
    width: 100%;
    height: auto;
    display: flex;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #ff9900;
    padding: 3rem;
    width: 250px;
    margin-top: 3rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.card img {
    max-height: 150px;
    object-fit: cover;
    min-width: 210;
}